@font-face {
  font-family: "Red Hat Display";
  src: url(../fonts/RedHatDisplay-Regular.ttf);
}

$darkBlue: #0e2423;
$verde: #46c338;
$blanco: #fff7f0;
$naranja: #ff8247;
$negro: #161715;
$rojo: #ff1111;
$verdeClaro: #b5edad;
//Fuentes
$main-font: "Red Hat Display", sans-serif;

//Media-queries
$small: 480px;
$medium: 768px;
$big: 1024px;
